{{- define "main" }}
<h1 class="jp-page-title">Writing</h1>
<ul class="jp-post-list">
  {{- $pages := where .Site.RegularPages "Section" "writing" }}
  {{- range $pages }}
    {{- if not (in .Params.tags "music") }}
    <li class="jp-post-item">
      {{ partial "content-icon.html" . }}
      <time class="jp-recent-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{- if .Description }}<p class="jp-post-desc">{{ .Description }}</p>{{- end }}
    </li>
    {{- end }}
  {{- end }}
</ul>
{{- end }}
