---
import BaseLayout from '../components/layout/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const page = await getEntry('pages', 'about');
const { Content } = await render(page!);
---

<BaseLayout title="About" description={page?.data.description}>
  <h1 class="jp-page-title">About</h1>
  <div class="prose dark:prose-invert max-w-prose">
    <Content />
  </div>
</BaseLayout>
